@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #2d7fff;
  --color-secondary: #6062ff;

  --color-bg: #ffffff;
  --color-text: #111827;

  --color-dark-bg: #121212;
  --color-dark-card: #111827;
  --color-dark-text: #E5E7EB;

  --font-cinzel: "Cinzel", serif;
  --font-oswald: "Oswald", sans-serif;
  --font-mono: "Roboto Mono", monospace;
}

body{
    background: #000000;
    color: #fff;
    font-family: "Roboto Mono", monospace;
    scroll-behavior: smooth !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Text Selection */
::selection {
  background: #2d7fff;
  color: #c7c7c7;
}

::-moz-selection {
  background: #2d7fff;
  color: #c7c7c7;
}


/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0b0b0b;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #2d7fff, #6062ff);
  border-radius: 999px;
  border: 2px solid #0b0b0b;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #4d91ff, #7a7cff);
}

::-webkit-scrollbar-corner {
  background: #0b0b0b;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #2d7fff #0b0b0b;
}